In [3]:
import sqlite3
import pandas as pd

import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

from sklearn.feature_extraction.text import TfidfVectorizer
# import data from sqlite3 database
import os
os.chdir("C://Users/Admin/Downloads/Data Science/Session_41_DS_Project_Structure/DS1/")
con = sqlite3.connect('Database.db')
tables = pd.read_sql_query("SELECT * FROM sqlite_master", con)
tables
df = pd.read_sql_query('Select * from New_Delhi_Reviews' , con)
df

       rating_review                                        review_full
0                  5  Totally in love with the Auro of the place, re...
1                  5  I went this bar 8 days regularly with my husba...
2                  5  We were few friends and was a birthday celebra...
3                  5  Fatjar Cafe and Market is the perfect place fo...
4                  5  Hey Guys, if you are craving for pizza and sea...
...              ...                                                ...
147576             5  Near by airport very calm and cool environment...
147577             5  My favourite place to stay. Great service. Ash...
147578             5  good food with nice decoration, drinks list al...
147579             4  Near to airport .it is fine property.  Staff i...
147580             5  Amazing food ..  Excellent ambience ..  Great ...

[147581 rows x 2 columns]

In [4]:
df['rating_review'].value_counts()

rating_review
5    72390
4    50248
3    15936
2     4552
1     4455
Name: count, dtype: int64

In [5]:
stopwords_list = stopwords.words('english')
exclude = string.punctuation

In [6]:
# Remove punctuation 
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

# Remove stopwords
def remove_stopwords(text): 
    data = [word for word in text.split() if word not in stopwords_list]
    return " ".join(data)

# apply Stemming
stemmer = PorterStemmer()

def apply_stemming(text):
    data = [stemmer.stem(word) for word in text.split()]
    return " ".join(data)

# apply lemma
lemmatizer = WordNetLemmatizer()

def apply_lemma(text):
    data = [lemmatizer.lemmatize(word, pos='v') for word in text.split()] # to improve further you can use word specific pos
    return " ".join(data)

In [7]:
def text_data_cleaning(df):
    df['review_original'] = df['review_full'].copy()
    df['review_full'] = df['review_full'].str.lower()
    df['review_full'] = df['review_full'].apply(remove_punc)  
    df['review_full'] = df['review_full'].apply(remove_stopwords)
    #df['review_full'] = df['review_full'].apply(apply_stemming)
    df['review_full'] = df['review_full'].apply(apply_lemma)
    return df

In [8]:
df = text_data_cleaning(df)

LookupError:
**********************************************************************
  Resource wordnet not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('wordnet')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/wordnet

  Searched in:
    - 'C:\\Users\\Admin/nltk_data'
    - 'c:\\Users\\Admin\\anaconda3\\nltk_data'
    - 'c:\\Users\\Admin\\anaconda3\\share\\nltk_data'
    - 'c:\\Users\\Admin\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\Admin\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [ ]:
df

In [12]:
def tfidf_features_fit(df):
    tfidf = TfidfVectorizer(min_df=0.01,max_df=0.1) # min_df=0.001,max_df=0.01
    tfidf_matrix = tfidf.fit_transform(df['review_full'])
    return tfidf,tfidf_matrix.toarray()

# def tfidf_features_transform(tfidf,df):
#     tfidf_matrix = tfidf.transform(df['review_full']) 
#     return tfidf_matrix.toarray()

In [13]:
# df.reset_index(drop=True,inplace=True)
# data_train = df[0:120000]
# data_test = df[120000:]

tfidf, data_train_matrix = tfidf_features_fit(df)
features = tfidf.get_feature_names_out()

In [14]:
df.head()

,rating_review,review_full,review_original
0,5,totally love auro place really beautiful quite...,"Totally in love with the Auro of the place, re..."
1,5,went bar 8 days regularly husband fully satisf...,I went this bar 8 days regularly with my husba...
2,5,friends birthday celebration food good taste r...,We were few friends and was a birthday celebra...
3,5,fatjar cafe market perfect place casual lunch ...,Fatjar Cafe and Market is the perfect place fo...
4,5,hey guys craving pizza searching visit cafe ye...,"Hey Guys, if you are craving for pizza and sea..."

In [15]:
features

array(['10', '45', 'absolutely', 'across', 'actually', 'added',
       'afternoon', 'almost', 'along', 'although', 'always', 'ambiance',
       'amount', 'another', 'anything', 'area', 'around', 'arrived',
       'asian', 'ask', 'asked', 'ate', 'atmosphere', 'attention',
       'attentive', 'authentic', 'available', 'average', 'away',
       'awesome', 'back', 'bad', 'bar', 'based', 'beautiful',
       'beautifully', 'beer', 'better', 'big', 'bill', 'birthday',
       'biryani', 'bit', 'bite', 'black', 'bread', 'breads', 'breakfast',
       'buffet', 'bukhara', 'burger', 'business', 'busy', 'butter',
       'cafe', 'cake', 'call', 'called', 'came', 'cant', 'care',
       'certainly', 'chaat', 'change', 'cheap', 'check', 'cheese', 'chef',
       'chefs', 'chilli', 'chinese', 'chocolate', 'choice', 'choices',
       'choose', 'chutney', 'city', 'clean', 'close', 'cocktails',
       'coffee', 'cold', 'come', 'comes', 'comfortable', 'coming',
       'concept', 'connaught', 'cooked', 'cool', 'cost', 'could',
       'couple', 'course', 'courteous', 'cp', 'cream', 'crispy', 'crowd',
       'crowded', 'cuisine', 'cuisines', 'curry', 'customer', 'customers',
       'dahi', 'dal', 'day', 'days', 'decent', 'decided', 'decor',
       'definitely', 'delight', 'delivery', 'dessert', 'desserts',
       'didnt', 'different', 'dine', 'dining', 'dinner', 'disappointed',
       'dish', 'done', 'dont', 'dosa', 'drink', 'drinks', 'dry', 'due',
       'early', 'easily', 'easy', 'eat', 'eaten', 'eating', 'efficient',
       'else', 'end', 'enjoy', 'enjoyed', 'enough', 'entire',
       'especially', 'etc', 'even', 'evening', 'ever', 'every',
       'everyone', 'everything', 'expect', 'expectations', 'expected',
       'expensive', 'extra', 'extremely', 'fabulous', 'fact', 'family',
       'famous', 'fan', 'fantastic', 'far', 'fast', 'favorite',
       'favourite', 'feel', 'felt', 'filling', 'finally', 'find', 'fine',
       'first', 'fish', 'flavors', 'flavour', 'flavours', 'floor',
       'foods', 'forget', 'found', 'free', 'fresh', 'fried', 'friend',
       'friendly', 'friends', 'full', 'fun', 'garden', 'garlic', 'gave',
       'get', 'getting', 'give', 'given', 'gives', 'glass', 'going',
       'got', 'gravy', 'green', 'grilled', 'group', 'guests', 'guys',
       'half', 'happy', 'hard', 'heard', 'heart', 'help', 'helpful',
       'high', 'highly', 'home', 'hospitality', 'hot', 'hotel', 'hour',
       'hours', 'house', 'however', 'huge', 'ice', 'im', 'impressed',
       'including', 'india', 'ingredients', 'inside', 'interesting',
       'interior', 'interiors', 'it', 'italian', 'items', 'ive', 'joint',
       'juicy', 'kabab', 'kebab', 'kebabs', 'keep', 'khan', 'kind',
       'kitchen', 'know', 'known', 'lamb', 'large', 'last', 'late',
       'least', 'left', 'less', 'let', 'level', 'light', 'liked',
       'limited', 'list', 'little', 'live', 'local', 'located',
       'location', 'long', 'look', 'looked', 'looking', 'looks', 'lot',
       'lots', 'loud', 'love', 'loved', 'lovely', 'lovers', 'lunch',
       'made', 'main', 'mains', 'make', 'makes', 'makhani', 'makhni',
       'making', 'malai', 'mall', 'manager', 'many', 'mark', 'market',
       'masala', 'may', 'meal', 'meals', 'meat', 'memorable', 'mention',
       'metro', 'might', 'mind', 'minutes', 'miss', 'mix', 'mocktails',
       'money', 'mouth', 'mr', 'much', 'mushroom', 'music', 'mutton',
       'naan', 'name', 'near', 'need', 'needs', 'never', 'new', 'next',
       'nicely', 'night', 'non', 'nonveg', 'noodles', 'north', 'nothing',
       'number', 'offer', 'offered', 'offers', 'ok', 'old', 'ones',
       'onion', 'open', 'option', 'options', 'order', 'ordering',
       'others', 'outdoor', 'outlet', 'outside', 'outstanding', 'overall',
       'packed', 'paneer', 'parking', 'part', 'party', 'pasta', 'pay',
       'people', 'per', 'perfect', 'perfectly', 'person', 'pieces',
       'pizza', 'pizzas', 'places', 'plate', 'platter', 'pleasant',
       'please', 'plus', 'pocket', 'point', 'polite', 'poor', 'popular',
       'portion', 'portions', 'potato', 'prawn', 'prawns', 'preparation',
       'prepared', 'presentation', 'presented', 'pretty', 'price',
       'priced', 'prices', 'probably', 'prompt', 'provided', 'punjabi',
       'put', 'quality', 'quantity', 'quick', 'quiet', 'quite', 'range',
       'rather', 'real', 'reasonable', 'recently', 'recommend',
       'recommended', 'red', 'refreshing', 'regular', 'rest',
       'restaurants', 'review', 'reviews', 'rice', 'rich', 'right',
       'road', 'rolls', 'room', 'roti', 'rs', 'said', 'salad', 'sauce',
       'say', 'seating', 'second', 'see', 'seemed', 'seems', 'selection',
       'serve', 'served', 'server', 'serves', 'services', 'serving',
       'set', 'setting', 'several', 'shake', 'shop', 'side', 'signature',
       'simple', 'simply', 'since', 'sit', 'sitting', 'situated', 'size',
       'slightly', 'slow', 'small', 'smile', 'snacks', 'soft',
       'something', 'soon', 'soup', 'south', 'space', 'special',
       'specially', 'spend', 'spices', 'spicy', 'spread', 'standard',
       'star', 'start', 'started', 'starter', 'starters', 'station',
       'stay', 'staying', 'still', 'street', 'stuff', 'stuffed', 'style',
       'suggest', 'sunday', 'super', 'superb', 'sure', 'surely',
       'surprise', 'surprised', 'sushi', 'sweet', 'sweets', 'table',
       'tables', 'take', 'taken', 'taking', 'tandoori', 'tasted',
       'tastes', 'tasting', 'tasty', 'tea', 'team', 'terrace', 'thai',
       'thali', 'thank', 'thanks', 'thats', 'thin', 'thing', 'things',
       'think', 'though', 'thought', 'three', 'tikka', 'till', 'times',
       'today', 'together', 'told', 'tomato', 'took', 'top', 'totally',
       'town', 'traditional', 'treat', 'tried', 'trip', 'truly', 'trying',
       'twice', 'two', 'unique', 'use', 'used', 'usual', 'usually',
       'value', 'varieties', 'variety', 'various', 'veg', 'vegetables',
       'vegetarian', 'vegetarians', 'view', 'visited', 'visiting', 'wait',
       'waiter', 'waiters', 'waiting', 'walk', 'want', 'wanted', 'warm',
       'wasnt', 'water', 'watering', 'way', 'week', 'welcome', 'went',
       'white', 'whole', 'wide', 'wife', 'wine', 'wish', 'without',
       'wonderful', 'wont', 'work', 'world', 'worth', 'years', 'yes',
       'yet', 'youre', 'yummy'], dtype=object)

In [16]:
data_train_matrix[0]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.16692659,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.18104576, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.21059921, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.20605766, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.21232281,
       0.        , 0.        , 0.18349053, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.18005302, 0.        , 0.        , 0.19399673, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.16824263, 0.        , 0.        ,
       0.        , 0.        , 0.27836135, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.19655278, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.18470859, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.20976568, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.15783121,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.42119601,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.17811155,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.21142738, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.19340966, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.21276612,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.18799973, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.19640711, 0.21415338,
       0.        ])

In [17]:
fet = pd.DataFrame(data_train_matrix, columns=features)

In [18]:
fet.head()

,10,45,absolutely,across,actually,added,afternoon,almost,along,although,...,wonderful,wont,work,world,worth,years,yes,yet,youre,yummy
0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.196407,0.214153,0.0
1,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
4,0.0,0.0,0.157004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.172685,0.000000,0.000000,0.0

In [19]:
df.count()

rating_review      147581
review_full        147581
review_original    147581
dtype: int64

In [20]:
fet.count()

10            147581
45            147581
absolutely    147581
across        147581
actually      147581
               ...
years         147581
yes           147581
yet           147581
youre         147581
yummy         147581
Length: 586, dtype: int64

In [21]:
df1 = pd.merge(df,fet,left_index=True,right_index=True, how='inner')

In [22]:
df1.count()

rating_review      147581
review_full        147581
review_original    147581
10                 147581
45                 147581
                    ...
years              147581
yes                147581
yet                147581
youre              147581
yummy              147581
Length: 589, dtype: int64

In [23]:
df1.head()

,rating_review,review_full,review_original,10,45,absolutely,across,actually,added,afternoon,...,wonderful,wont,work,world,worth,years,yes,yet,youre,yummy
0,5,totally love auro place really beautiful quite...,"Totally in love with the Auro of the place, re...",0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.196407,0.214153,0.0
1,5,went bar 8 days regularly husband fully satisf...,I went this bar 8 days regularly with my husba...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
2,5,friends birthday celebration food good taste r...,We were few friends and was a birthday celebra...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
3,5,fatjar cafe market perfect place casual lunch ...,Fatjar Cafe and Market is the perfect place fo...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
4,5,hey guys craving pizza searching visit cafe ye...,"Hey Guys, if you are craving for pizza and sea...",0.0,0.0,0.157004,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.172685,0.000000,0.000000,0.0

In [24]:
df2 = df1.copy()
df2 = df2.drop(columns=['review_full','review_original'])
# df2 = df2.drop('review_original')

In [25]:
df2.describe()

,10,45,absolutely,across,actually,added,afternoon,almost,along,although,...,wonderful,wont,work,world,worth,years,yes,yet,youre,yummy
count,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,...,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000,147581.000000
mean,0.003590,0.002956,0.005402,0.002617,0.003441,0.002313,0.002750,0.004997,0.006287,0.004766,...,0.009966,0.002721,0.004815,0.005577,0.014007,0.006314,0.003148,0.003337,0.002760,0.006306
std,0.032065,0.032041,0.040008,0.027026,0.030168,0.025268,0.029253,0.035766,0.040113,0.036375,...,0.057469,0.028997,0.039004,0.040296,0.058142,0.042377,0.029992,0.029340,0.029969,0.045566
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,0.964263,1.000000,0.792564,0.810053,0.735518,0.853577,0.816552,1.000000,0.825085,...,1.000000,0.754309,1.000000,1.000000,1.000000,1.000000,0.807251,0.688490,0.786355,1.000000

In [26]:
print(df2['rating_review'].dtype)

object

In [27]:
df2['rating_review'] = df['rating_review'].astype('float64')

In [28]:
print(df2['rating_review'].dtype)

float64

In [30]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=20, random_state=0, n_init= 10).fit(df2)
df2['cluster_labels'] = kmeans.labels_
# x_train['booking_status'] = y_label['booking_status']

In [31]:
df2['cluster_labels'].value_counts().sort_index()

cluster_labels
0     12387
1      4455
2     10476
3     12631
4      2443
5      2201
6     37030
7      4443
8      2716
9      2774
10     3494
11     1139
12     2409
13     4552
14     2762
15     3144
16     2362
17    31550
18     2166
19     2447
Name: count, dtype: int64

In [32]:
df2.rating_review.value_counts()

rating_review
5.0    72390
4.0    50248
3.0    15936
2.0     4552
1.0     4455
Name: count, dtype: int64

In [33]:
pd.crosstab(df2['rating_review'], df2['cluster_labels'])

cluster_labels,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
rating_review,,,,,,,,,,,,,,,,,,,,
1.0,0,4455,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,4552,0,0,0,0,0,0
3.0,0,0,0,12631,0,0,0,0,0,0,0,1139,0,0,0,0,0,0,2166,0
4.0,0,0,10476,0,0,0,0,0,2716,0,0,0,0,0,0,3144,2362,31550,0,0
5.0,12387,0,0,0,2443,2201,37030,4443,0,2774,3494,0,2409,0,2762,0,0,0,0,2447

In [34]:
print(df2.shape)

(147581, 588)

In [35]:
cluster_centers = kmeans.cluster_centers_

In [36]:
print(cluster_centers.shape)

(20, 587)

In [37]:
features = df2.columns[:-1]

In [38]:
features

Index(['rating_review', '10', '45', 'absolutely', 'across', 'actually',
       'added', 'afternoon', 'almost', 'along',
       ...
       'wonderful', 'wont', 'work', 'world', 'worth', 'years', 'yes', 'yet',
       'youre', 'yummy'],
      dtype='object', length=587)

In [39]:
clustered_df = pd.DataFrame(cluster_centers, columns = features)

In [40]:
clustered_df['cluster_lables'] = range(20)

In [41]:
clustered_df.head()

,rating_review,10,45,absolutely,across,actually,added,afternoon,almost,along,...,wont,work,world,worth,years,yes,yet,youre,yummy,cluster_lables
0,5.0,0.002845,0.005298,0.010396,0.002593,0.004129,0.003753,0.002241,0.005492,0.014323,...,0.002547,0.003270,0.007125,0.013408,0.004466,0.003709,0.006770,0.002657,0.012454,0
1,1.0,0.012056,0.004177,0.006724,0.002541,0.006975,0.002897,0.003337,0.008365,0.003830,...,0.006193,0.004952,0.003432,0.010401,0.007659,0.003619,0.002659,0.001610,0.000424,1
2,4.0,0.003999,0.009445,0.006271,0.002910,0.004753,0.004189,0.003662,0.006835,0.014498,...,0.002545,0.003380,0.005222,0.012464,0.005158,0.004557,0.005796,0.003273,0.012686,2
3,3.0,0.005184,0.004418,0.001977,0.003127,0.004811,0.002658,0.003513,0.007285,0.005365,...,0.003679,0.005129,0.003462,0.011396,0.007714,0.004143,0.002902,0.002855,0.002827,3
4,5.0,0.002913,0.002656,0.004455,0.003605,0.002652,0.001198,0.001216,0.005442,0.006579,...,0.002709,0.001730,0.006128,0.019841,0.007492,0.002860,0.003843,0.002648,0.007702,4

In [42]:
clustered_df.drop(columns=['cluster_lables'], inplace = True)

In [43]:
for cluster_labels in range(20):
    print(f"\nCluster {cluster_labels} Theme:")
    cluster_center = clustered_df.iloc[cluster_labels]
    top_features = cluster_center.sort_values(ascending=False).head(6)
    print(top_features)

Cluster 0 Theme:
rating_review    5.000000
loved            0.068092
veg              0.058923
dal              0.041382
paneer           0.039841
pizza            0.037383
Name: 0, dtype: float64

Cluster 1 Theme:
rating_review    1.000000
bad              0.051938
even             0.042492
never            0.038912
manager          0.036850
dont             0.033815
Name: 1, dtype: float64

Cluster 2 Theme:
rating_review    4.000000
pizza            0.048760
paneer           0.042887
butter           0.037257
mutton           0.037141
dal              0.036070
Name: 2, dtype: float64

Cluster 3 Theme:
rating_review    3.000000
ok               0.027731
better           0.025834
quality          0.025086
much             0.024776
quite            0.023024
Name: 3, dtype: float64

Cluster 4 Theme:
rating_review    5.000000
south            0.350245
dosa             0.076547
authentic        0.059851
thali            0.031687
love             0.031331
Name: 4, dtype: float64

Cluster 5 Theme:
rating_review    5.000000
mr               0.413410
thanks           0.070071
special          0.052677
hospitality      0.049621
team             0.038881
Name: 5, dtype: float64

Cluster 6 Theme:
rating_review    5.000000
love             0.022820
quality          0.021967
friendly         0.020303
always           0.020161
dinner           0.019371
Name: 6, dtype: float64

Cluster 7 Theme:
rating_review    5.000000
recommend        0.199550
highly           0.171553
recommended      0.074072
definitely       0.032201
friendly         0.030561
Name: 7, dtype: float64

Cluster 8 Theme:
rating_review    4.000000
south            0.334282
dosa             0.077481
authentic        0.048872
north            0.043925
thali            0.030540
Name: 8, dtype: float64

Cluster 9 Theme:
rating_review    5.000000
chef             0.302925
made             0.037026
special          0.032346
team             0.031358
meal             0.027032
Name: 9, dtype: float64

Cluster 10 Theme:
rating_review    5.000000
awesome          0.332276
love             0.027601
friends          0.024940
family           0.024746
music            0.021849
Name: 10, dtype: float64

Cluster 11 Theme:
rating_review    3.000000
nothing          0.295658
special          0.066342
average          0.063869
ok               0.061154
much             0.038114
Name: 11, dtype: float64

Cluster 12 Theme:
rating_review    5.000000
wonderful        0.341779
dinner           0.028973
thank            0.025788
evening          0.022462
made             0.021450
Name: 12, dtype: float64

Cluster 13 Theme:
rating_review    2.000000
bad              0.036249
average          0.035958
quality          0.033300
even             0.031547
poor             0.030785
Name: 13, dtype: float64

Cluster 14 Theme:
rating_review    5.000000
thanks           0.380782
special          0.100043
team             0.054545
hospitality      0.041834
enjoyed          0.033848
Name: 14, dtype: float64

Cluster 15 Theme:
rating_review    4.000000
quality          0.262584
quantity         0.027712
price            0.024659
prices           0.021665
high             0.021309
Name: 15, dtype: float64

Cluster 16 Theme:
rating_review    4.000000
veg              0.304882
non              0.154997
tasty            0.027541
vegetarian       0.027483
nonveg           0.027386
Name: 16, dtype: float64

Cluster 17 Theme:
rating_review    4.000000
friends          0.024037
tasty            0.023330
music            0.020046
bit              0.019347
dinner           0.018651
Name: 17, dtype: float64

Cluster 18 Theme:
rating_review    3.000000
average          0.327647
quality          0.037428
better           0.031508
ok               0.029255
much             0.024999
Name: 18, dtype: float64

Cluster 19 Theme:
rating_review    5.000000
breakfast        0.378190
buffet           0.072530
hotel            0.045515
dinner           0.038460
friendly         0.033802
Name: 19, dtype: float64